<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Lista de Usuários</ion-title>
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-sharp"></ion-icon></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <!-- Lista de usuários -->

  <ion-item *ngFor="let u of usuarios" (click)="editar(u.id)">
    <ion-label>
      <h2> {{u.nome}} </h2>
      <p> {{u.email}} | Nível: {{u.nivel_id}} </p>
    </ion-label>
    <ion-badge color="success" *ngIf="u.ativo == 1"> Ativo </ion-badge>
    <ion-badge color="medium" *ngIf="u.ativo == 0"> Inativo </ion-badge>
  </ion-item>

</ion-content>
