<ion-header>
  <ion-toolbar>
    <ion-title>Editar Endereço</ion-title>
      <ion-buttons slot="start">
        <ion-back-button><ion-icon name="arrow-back-sharp"></ion-icon></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">

    <!-- Campo cep -->

    <ion-item>
      <ion-label position="floating"> CEP </ion-label>
      <ion-input type="number" formControlName="cep"></ion-input>
    </ion-item>

    <!-- Campo logradouro -->

    <ion-item>
      <ion-label position="floating"> Logradouro </ion-label>
      <ion-input type="text" formControlName="logradouro"></ion-input>
    </ion-item>

    <!-- Campo número -->

    <ion-item>
      <ion-label position="floating"> Número </ion-label>
      <ion-input type="text" formControlName="numero"></ion-input>
    </ion-item>

    <!-- Campo complemento -->

    <ion-item>
      <ion-label position="floating"> Complemento </ion-label>
      <ion-input type="text" formControlName="complemento"></ion-input>
    </ion-item>

    <!-- Campo bairro -->

    <ion-item>
      <ion-label position="floating"> Bairro </ion-label>
      <ion-input type="text" formControlName="bairro"></ion-input>
    </ion-item>

    <!-- Campo cidade -->

    <ion-item>
      <ion-label position="floating"> Cidade </ion-label>
      <ion-input type="text" formControlName="cidade"></ion-input>
    </ion-item>

    <!-- Campo cidade -->

    <ion-item>
      <ion-label position="floating"> UF </ion-label>
      <ion-input type="text" formControlName="uf"></ion-input>
    </ion-item>

    <!-- Campo cidade -->

    <ion-item>
      <ion-label position="floating"> Tipo Endereço </ion-label>
      <ion-input type="text" formControlName="tipo_endereco"></ion-input>
    </ion-item>

    <!-- Botão cadastrar -->

    <ion-button class="ion-padding" expand="block" type="submit" [disabled]="" color="success">
      Cadastrar
    </ion-button>

  </form>
</ion-content>
