html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #ccc;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.10);
  border-radius: 10px;
}

.login .email{
    padding: 10px;
}

.login .senha{
    padding: 10px;
}

.input-email {
  --background: #f4f5f8;
  border-radius: 15px;
}

.input-senha {
  --background: #f4f5f8;
  border-radius: 15px;
}

.login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #000;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}

.login .btn-logar {
  margin-top: 10px;
  height: 48px;
  font-weight: 600;
  --background: #1900ff;
  --box-shadow: 0 4px 10px rgba(42, 82, 152, 0.4);
}
