<ion-content class="ion-padding" [fullscreen]="true"]>
  <form [formGroup]="form" (ngSubmit)="logar()">

  <!-- Campo e-mail -->
  <ion-item class="ion-no-border">
    <ion-label position="floating"> E-mail </ion-label>
    <ion-input formControlName="usuario"></ion-input>
  </ion-item>

  <!-- Campo senha -->

  <ion-item>
    <ion-label position="floating"> Senha </ion-label>
    <ion-input type="password" formControlName="senha"></ion-input>
  </ion-item>

  <!-- Botão entrar -->

  <ion-button class="ion-padding" (click)="logar()" expand="block" color="primary" type="submit" [disabled]="form.invalid">
    Logar
  </ion-button>
  
</form>
</ion-content>
