<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modelo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Pedido #100050 </ion-card-title>
        <ion-card-subtitle> Dados </ion-card-subtitle>        
      </ion-card-header>
      <ion-card-content>
        <p><strong> Usuário: </strong>1007</p>
        <p><strong> Cliente: </strong>1</p>
        <p><strong> Data: </strong>07/11/1993</p>
        <p><strong> Status: </strong>Aberto</p>
        <p><strong> Desconto: </strong>R$ 1,05</p>
      </ion-card-content>
    </ion-card>
    <div>
      <!-- <p (click)="Listar(100050)">Listar Pedidos</p> -->
    </div>
  </div>
</ion-content>
