<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Sistema Comercial
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon slot="start" name="exit-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
    <ion-list>
        <ion-item routerLink="/cliente-add"> Cadastrar Clientes </ion-item>
        <ion-item routerLink="/cliente-list"> Listar Clientes </ion-item>
        <ion-item routerLink="/usuario-add"> Cadastrar Usuários </ion-item>
        <ion-item routerLink="/usuario-list"> Listar Usuários </ion-item>
        <ion-item routerLink="/endereco-add"> Novo Endereço </ion-item>
        <ion-item routerLink="/endereco-list"> Listar Endereços </ion-item>
        <ion-item routerLink="/produto-add"> Novo Produtos </ion-item>
        <ion-item routerLink="/produto-list"> Listar Produtos </ion-item>
    </ion-list>
</ion-content>